<container>
    <row>
        <columns small="12">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0; border-left: 1px solid #e8e7e5; border-right: 1px solid #e8e7e5; border-bottom: 1px solid #e8e7e5; padding: 10px;" bg="#ffffff">
                <tr>
                    <div width="350" height="150" align="center" style="border-radius: 50%">
                        <img src="https://image.pngaaa.com/962/1308962-middle.png" height="400" width="400" style="padding-top: 5px;" border="0" />
                    </div>
                </tr>
                <tr>
                    <td align="center" style="padding: 0px 40px 40px 40px;">
                        <h2 style="color: #171923; text-align: center;">
                            Hello <%= firstname %> 
                        </h2>
                        <h3>
                            Thank You !!
                        </h3>
                        <p>Your account has been successfuly activated!</p>
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>